In [1]:
import pandas as pd 
from pathlib import Path

In [2]:
allStates_df =  pd.read_csv('Project-1/Resources/AmericanFiftyStates.csv')

In [3]:
allStates_df.head()

,observation_date,MEHOINUSAKA672N,MEHOINUSALA672N,MEHOINUSARA672N,MEHOINUSAZA672N_20200915,MEHOINUSCAA672N,MEHOINUSCOA672N,MEHOINUSCTA672N,MEHOINUSDEA672N,MEHOINUSFLA672N,...,MEHOINUSSDA672N,MEHOINUSTNA672N,MEHOINUSTXA672N,MEHOINUSUTA672N,MEHOINUSVAA672N,MEHOINUSVTA672N,MEHOINUSWAA672N,MEHOINUSWIA672N_20200915,MEHOINUSWVA672N_20200915,MEHOINUSWYA672N_20200915
0,1984-01-01,81970,43850,39710,50353.0,64060,65360,75870,65410,50120,...,49170,42510,58330,58410,67190,57200,63370,48750.0,39584.0,55972.0
1,1985-01-01,85210,44910,42750,54253.0,66100,69040,76170,56300,52290,...,44450,43560,58170,61830,69650,63700,58800,52819.0,36316.0,50172.0
2,1986-01-01,75580,46110,45150,56944.0,69920,65540,78870,61770,55070,...,47960,44000,58240,63350,71620,59290,64790,59021.0,36766.0,52610.0
3,1987-01-01,77480,46010,43890,57747.0,70280,61730,76620,68180,57100,...,49310,49380,57640,61850,69930,59250,63690,56926.0,37147.0,59562.0
4,1988-01-01,74430,44850,45350,55079.0,68090,58940,81420,68580,57120,...,50120,46890,56120,59160,73400,65170,72680,61621.0,40323.0,55046.0

In [4]:
allStates_df.rename(columns={'observation_date': 'Date'}, inplace=True)

In [5]:
allStates_df['Date'] = pd.to_datetime(allStates_df['Date'])

# Filter the DataFrame to include only the years 2019, 2020, and 2021
allStates_filtered_df = allStates_df[allStates_df['Date'].dt.year.isin([ 2020 ])]

allStates_filtered_df.head()

,Date,MEHOINUSAKA672N,MEHOINUSALA672N,MEHOINUSARA672N,MEHOINUSAZA672N_20200915,MEHOINUSCAA672N,MEHOINUSCOA672N,MEHOINUSCTA672N,MEHOINUSDEA672N,MEHOINUSFLA672N,...,MEHOINUSSDA672N,MEHOINUSTNA672N,MEHOINUSTXA672N,MEHOINUSUTA672N,MEHOINUSVAA672N,MEHOINUSVTA672N,MEHOINUSWAA672N,MEHOINUSWIA672N_20200915,MEHOINUSWVA672N_20200915,MEHOINUSWYA672N_20200915
36,2020-01-01,84260,61650,57240,NaN,87530,94440,89540,78930,65110,...,79120,61970,77110,94680,92670,75810,91710,NaN,NaN,NaN

In [6]:
# Dictionary to map state codes to state names
state_mapping = {
    'MEHOINUSAKA672N': 'Alaska',
    'MEHOINUSALA672N': 'Alabama',
    'MEHOINUSARA672N': 'Arkansas',
    'MEHOINUSAZA672N': 'Arizona',
    'MEHOINUSCAA672N': 'California',
    'MEHOINUSCOA672N': 'Colorado',
    'MEHOINUSCTA672N': 'Connecticut',
    'MEHOINUSDEA672N': 'Delaware',
    'MEHOINUSFLA672N': 'Florida',
    'MEHOINUSGAA672N': 'Georgia',
    'MEHOINUSHIA672N': 'Hawaii',
    'MEHOINUSIAA672N': 'Iowa',
    'MEHOINUSIDA672N': 'Idaho',
    'MEHOINUSILA672N': 'Illinois',
    'MEHOINUSINA672N': 'Indiana',
    'MEHOINUSKSA672N': 'Kansas',
    'MEHOINUSKYA672N': 'Kentucky',
    'MEHOINUSLAA672N': 'Louisiana',
    'MEHOINUSMAA672N': 'Massachusetts',
    'MEHOINUSMDA672N': 'Maryland',
    'MEHOINUSMEA672N': 'Maine',
    'MEHOINUSMIA672N': 'Michigan',
    'MEHOINUSMNA672N': 'Minnesota',
    'MEHOINUSMOA672N': 'Missouri',
    'MEHOINUSMSA672N': 'Mississippi',
    'MEHOINUSMTA672N': 'Montana',
    'MEHOINUSNCA672N': 'North Carolina',
    'MEHOINUSNDA672N': 'North Dakota',
    'MEHOINUSNEA672N': 'New Hampshire',
    'MEHOINUSNJA672N': 'New Jersey',
    'MEHOINUSNMA672N': 'New Mexico',
    'MEHOINUSNVA672N': 'Nevada',
    'MEHOINUSNYA672N': 'New York',
    'MEHOINUSOHA672N': 'Ohio',
    'MEHOINUSOKA672N': 'Oklahoma',
    'MEHOINUSORA672N': 'Oregon',
    'MEHOINUSPAA672N': 'Pennsylvania',
    'MEHOINUSRIA672N': 'Rhode Island',
    'MEHOINUSSCA672N': 'South Carolina',
    'MEHOINUSSDA672N': 'South Dakota',
    'MEHOINUSTNA672N': 'Tennessee',
    'MEHOINUSTXA672N': 'Texas',
    'MEHOINUSUTA672N': 'Utah',
    'MEHOINUSVAA672N': 'Virginia',
    'MEHOINUSVTA672N': 'Vermont',
    'MEHOINUSWAA672N': 'Washington',
    'MEHOINUSWIA672N': 'Wisconsin',
    'MEHOINUSWVA672N': 'WestVirginia',
    'MEHOINUSWYA672N': 'Wyoming',
}

allStates_filtered_df_copy = allStates_filtered_df.copy()

allStates_filtered_df.rename(columns=state_mapping, inplace=True)

C:\Users\Moham\AppData\Local\Temp\ipykernel_10280\3698750581.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allStates_filtered_df.rename(columns=state_mapping, inplace=True)

In [7]:
allStates_filtered_df.head(5)

,Date,Alaska,MEHOINUSALA672N,MEHOINUSARA672N,MEHOINUSAZA672N_20200915,MEHOINUSCAA672N,MEHOINUSCOA672N,MEHOINUSCTA672N,MEHOINUSDEA672N,MEHOINUSFLA672N,...,MEHOINUSSDA672N,MEHOINUSTNA672N,MEHOINUSTXA672N,MEHOINUSUTA672N,MEHOINUSVAA672N,MEHOINUSVTA672N,MEHOINUSWAA672N,MEHOINUSWIA672N_20200915,MEHOINUSWVA672N_20200915,MEHOINUSWYA672N_20200915
36,2020-01-01,84260,61650,57240,NaN,87530,94440,89540,78930,65110,...,79120,61970,77110,94680,92670,75810,91710,NaN,NaN,NaN

In [8]:
 # Export file as a CSV, without the Pandas index, but with the header
allStates_filtered_df.to_csv("Project-1/Resources/clean_american_states.csv", index=False, header=True)